{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <h1>Product Details</h1>

<table>
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ product.price }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('product_edit', {'id': product.id}) }}">Edit</a>
<a href="{{ path('product_list') }}">Back to list</a>

{% endblock %}
