{% extends 'base.html.twig' %}

{% block title %}Create a new product{% endblock %}

{% block body %}
    <h1>Create a new product</h1>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        {{ form_row(form._token) }}
        <button type="submit">Create</button>
    {{ form_end(form) }}
{% endblock %}